.meta-title {
  max-width: 500px;
}
.meta-btn {
  margin-top: 20px;
  padding: 2px 20px;
  width: 103px;
  height: 38px;
  background: #0466c8;
  border-radius: 6px;
  color: #fff;
  border: none;
}
textarea {
  resize: both;
}
